<p>
  Your MARVL account is confirmed.
</p>

<p>- - - - - - - - - -</p>

<h2>How to videos:</h2>
<ul>
  <li><a href="https://www.youtube.com/watch?v=QDLSv_Bw24g" target="_blank">Your next review</a></li>
  <li><a href="https://www.youtube.com/watch?v=YBkDL_Pvui8" target="_blank">Navigating MARVL</a></li>
  <li><a href="https://www.youtube.com/watch?v=tMSVmqRPMwQ" target="_blank">Write a review</a></li>
  <li><a href="https://www.youtube.com/watch?v=ctnXOfFFUQE" target="_blank">Add a vendor</a></li>
  <li><a href="https://www.youtube.com/watch?v=A3zpVlFnj-Y" target="_blank">Update vendor information</a></li>
  <li><a href="https://www.youtube.com/watch?v=0Stx3xJnDTw" target="_blank">Add a pro-tip (a bit of service category-specific genius)</a></li>
  <li><a href="https://www.youtube.com/watch?v=QkbINK17SVs" target="_blank">Edit your reviews and pro-tips</a></li>
  <li><a href="https://www.youtube.com/watch?v=VfqHsu2bosI" target="_blank">Unsubscribe from weekly digest</a></li>
\
</ul>
